/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "base";
@import "normalize"; 
@import "colors";

.site{
	position:relative;
	padding:0;
	@include container($total-columns, $mobile, $tablet, $computer);
    //@include susy-grid-background;
}

a{color:black; text-decoration: none;}
a:hover{color:rgb(56,145,226);}

.hidden{
	position: absolute;
	text-indent: -10000px;
}

body{font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; line-height: 1.5em; color:rgb(50,100,100);}

p{
	margin-bottom: 1em;
	a{
		border-bottom: 1px dotted silver;
	}
	a:hover{
		border-bottom: 1px dotted rgb(56,145,226);
	}
}

h1,h2,h3,h4,h5,h6{font-family: "Trebuchet MD","Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom:1em; color:black;}

h1      { font-size: 2em;}
h2      { font-size: 1.5em;}
h3      { font-size: 1.17em;}
h4      { font-size: 1em;}
h5      { font-size: 0.83em;}
h6      { font-size: 0.75em;}



#logo{
	@include span-columns(3,10);
	margin: 2em 0;
	text-align: right;
	h1{margin:0;}

	
}

header:after{
	content:"";
	display:block;
	clear:both;
}
li.contact{
	a:before{
		content: url('../img/envelop.png');
		margin-right: 0.3em;
	}
}
li.blog{
	a:before{
		content: url('../img/book.png');
		margin-right: 0.3em;
	}
}
li.project{
	a:before{
		content: url('../img/pencil.png');
		margin-right: 0.3em;
	}
}
li.home{
	a:before{
		content: url('../img/home.png');
		margin-right: 0.3em;
	}
}
li.about{
	a:before{
		content: url('../img/profile.png');
		margin-right: 0.3em;
	}
}

nav{
	position:absolute;
	top:1em;
	right:1em;
    ul{
		padding:0;
		margin:0;
		li{
			display: inline-block;
			a{
				margin-left: 0.3em;
				color:black;
				padding: 0.5em 1em;
				display:block;
				text-decoration: none;
				border-bottom: 3px solid rgba(0,0,0,0.1);
				@include transition((border-bottom, 0.5s)(color, 0.5s));
			}
		}
		li:hover, li.selected{
			a{
				color:rgb(56,145,226);
				border-bottom: 3px solid rgba(0,0,0,0.6);
			}
		}
	}
}

section.hi{
	div{
		@include span-columns(6 omega,10);
	}
}

section.project{
	// h2:before{
	// 	content:url('../img/arrow-down-right2.png');
	// 	margin-right: 0.3em;
	// }
	div.text{
		@include span-columns(3,10);
	}
	.photos:after{
		content:"";
		display:block;
		clear:both;
	}
	.photos-right{
		@include span-columns(7 omega,10);
	}

	.photos-left{
		@include span-columns(3,10);
	}

	.photos-center{
		@include span-columns(4,10);
	}
	div{

		figure{
			margin-bottom: 1em;
			padding:0;
			background-color: rgba(0,0,0,0.05);
			img{max-width: 100%;}
			position: relative;
			border:0.3em solid rgba(0,0,0,0.05);
			overflow:hidden;
			@include single-transition(border, 0.5s);
		}
		figure:hover{
			border:0.3em solid rgba(0,0,0,0.8);
			figcaption{
				opacity:1;
				bottom:0;
			}
		}
		figcaption{
			width:100%;
			background-color: rgba(0,0,0,0.8);
			opacity:0;
			position:absolute;
			bottom:-35%;
			left:0;
			@include transition((bottom, 0.5s), (opacity, 0.5s));
			h3{
				color:rgb(56,145,226);
				padding:0.2em;
				margin:0;
			}
			p{
				padding:0.2em;
				margin:0;
				color:white;
				font-weight: lighter;
			}
		}
	}
}

section.content{
	margin:0;
	border:0;
}

section.news{
	h2{
		margin-bottom: 1em;
	}
	h2:before{
		content:url('../img/books.png');
		margin-right: 0.3em;
	}
	article.first{
		@include span-columns(4,10);
	}
	article{
		margin-bottom: 0.5em;
		p{
			color:rgb(50,100,100);
		}
		h3 span{
			font-size: 0.7em;
		}
		position: relative;
		overflow:hidden;
		@include span-columns(6 omega,10);
		span.more{
			position:absolute;
			bottom:1em;
			right:-8em;
			font-size: 0.9em;
			@include single-transition(right, 0.5s);
		}
	}
	article:hover{
		h3{
			color:rgb(56,145,226);
			span{
				color:rgb(226,145,56);
			}
		}
		span.more{
			right:1em;
		}
	}
}

section{
	margin-bottom: 1em;
	border-bottom: 0.3em solid rgba(0,0,0,0.1);
	h2{
	}
	div.f{
		figure{
			width:55%;
			margin:1em auto;

			img{
				max-width: 100%;
			}
			
		}
	}
}
section:after{
	content:"";
	display:block;
	clear: both;
}


footer{
	font-size: 0.8em;
	margin-bottom: 1em;
	text-align: right;
	a{opacity:0.7;}
	a.google{
		content: url('../img/gg.png');
	}
	a.facebook{
		content: url('../img/fb.png');
	}
	a.github{
		content: url('../img/github.png');
	}
	a.linkedin{
		content: url('../img/linkedin.png');
	}

	a.google:hover{
		content: url('../img/ggh.png');
		opacity:1;
	}
	a.facebook:hover{
		content: url('../img/fbh.png');
		opacity:1;
	}
	a.github:hover{
		content: url('../img/github.png');
		opacity:1;
	}
	a.linkedin:hover{
		content: url('../img/linkedinh.png');
		opacity:1;
	}
}

//about


.presentation{
	div{
		@include span-columns(2 omega,10);
		img{max-width: 100%;box-shadow: 0px 0px 8px;@include border-radius(100%);}
		margin-bottom: 1em;
	}
	p,h2{
		@include span-columns(8,10);
		margin-top: 0;
		margin-bottom: 1em;
	}
}

.presentation:after{
	content:"";
	display:block;
	clear:both;
}

.competences{
	h2{margin-bottom: 1em;}
	article{
		@include span-columns(2.3,10);
		&:nth-child(4) { @include omega; }
	}
}

//contact

form{
	ul li:after{
		content:"";
		display:block;
		clear:both;
	}
	ul li{
		margin-bottom: 1em;
		@include span-columns(6,6);
	}
	fieldset{
		border:none;
		margin:0;
		padding:0;
	}
   label{
   	@include span-columns(2,6);
   	text-align: right;
   	line-height: 24px;
   }
   input, textarea{
   	@include span-columns(3.9 omega,6);
   	
   }
   input[type="submit"]{
   	width:30%;
	//@include border-radius(3px);
	border:none;
	padding:0.5em 0;
	background-color: rgba(0,0,0,0.1);
   }
   input[type="submit"]:hover, input[type="submit"]:focus{
		background-color: rgb(56,145,226);
		color:white;
	}
}




//blog

section.blog{
	article{
		margin-bottom: 2em;
		overflow: visible;
		h3:before{
			content:url('../img/bookmarks.png');
			position:absolute;
			left: -1.5em;
		}
	}
	article:hover{
		span.comm{color:rgb(56,145,226);}
	}
}


span.comm:before{
	content: url('../img/bubbles2.png');
	margin-right:0.3em;
}

span.comm{
	margin:1em 0;
}

